# Data Cleaning 

#### 1. Import pandas library.

In [16]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [17]:
import pymysql
from sqlalchemy import create_engine



#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [18]:
driver = 'mysql+pymysql:'
user = 'guest'
password = "relational"
ip = 'relational.fit.cvut.cz'
database = 'stats'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

#### 4. Import the users table.

In [24]:
users_table = pd.read_sql_query('SELECT * FROM stats.users', engine)
users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [25]:
users_table = users_table.rename(columns={ users_table.columns[0]: "userId" })

#### 6. Import the posts table.

In [35]:
posts_table = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [36]:
posts_table = posts_table.rename(columns={ posts_table.columns[0]: "postId", posts_table.columns[7]:"userId" })

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [38]:
users_columns = users_table[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
posts_columns = posts_table[["postId", "Score", "userId", "ViewCount", "CommentCount"]]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [52]:
merged_df = pd.merge(users_columns, posts_columns, left_index=True, right_index=True)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [53]:
count_nan = len(merged_df) - merged_df.count()
print(count_nan)
# NaN  = 25307 - UserId_y / ViewCount

userId_x            0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
userId_y         1040
ViewCount       24267
CommentCount        0
dtype: int64
       userId_x  Reputation  Views  UpVotes  DownVotes  postId  Score  \
0            -1           1      0     5007       1920       1     23
1             2         101     25        3          0       2     22
2             3         101     22       19          0       3     54
3             4         101     11        0          0       4     13
4             5        6792   1145      662          5       5     81
5             6         457    114       47          0       6    152
6             7         429     56       20          0       7     76
7             8        6764   1089      604         25       8      0
8            10         121     20        2          0       9     13
9            11         136     10       10          0      10     23
10           12         101     10        5          0      11      2
11           13         817    178       44          1      12     20
12           15          11      8        0          0      13     14
13           16         101      4        7          0      14      5
14           17         345     14       13          1      15     13
15           18         128      8       16          0      16     16
16           19         101     13        2          0      17      9
17           21         101      6        0          0      18     31
18           22         591     90      693          6      19     12
19           23         308     52       34          1      20      3
20           24         344     48       36          1      21      4
21           25        4968    641      328         23      22    102
22           26        3150    257      138          7      23     10
23           27         101     10        2          0      24     17
24           29        2250    318       28          1      25      7
25           30        2185    312       40          3      26     18
26           33         221     11        2          0      27      4
27           34         185     27       23          0      28      6
28           35         101      4        9          0      29      5
29           36        1570    173       26          1      30      7
...         ...         ...    ...      ...        ...     ...    ...
40295     55718           6      0        0          0   48694      0
40296     55719           1      1        0          0   48695      4
40297     55720           1      0        0          0   48696      1
40298     55721         101      0        1          0   48697      1
40299     55722           1      0        0          0   48698      4
40300     55723           1      0        0          0   48700      3
40301     55724          16      1        0          0   48701      1
40302     55725           1      0        0          0   48702      1
40303     55726           1      0        0          0   48703      8
40304     55727           1      0        0          0   48704      1
40305     55728           1      0        0          0   48705      4
40306     55729          16      1        0          0   48706      2
40307     55730           1      0        0          0   48708      3
40308     55731           1      0        0          0   48709      1
40309     55732         101      0        0          0   48710      0
40310     55733           6      1        0          0   48711      6
40311     55734           1      0        0          0   48712      1
40312     55735           1      0        0          0   48713      1
40313     55736           1      0        0          0   48714      8
40314     55737           1      0        0          0   48715      2
40315     55738          11      0        0          0   48718      5
40316     55739           1      0        0          0   48719      9
40317     55740           1      0        0          0   48720      6
40318     55741         101      0        1          0   48722      3
40319     55742           6      0        0          0   48723      8
40320     55743           1      0        0          0   48724      1
40321     55744           6      1        0          0   48725      6
40322     55745         101      0        0          0   48726      2
40323     55746         106      1        0          0   48727      0
40324     55747           1      0        0          0   48728      1

       userId_y  ViewCount  CommentCount
0           8.0     1278.0             1
1          24.0     8198.0             1
2          18.0     3613.0             4
3          23.0     5224.0             2
4          23.0        0.0             3
5           5.0    29229.0             5
6          38.0     5808.0             3
7          37.0      288.0             2
8          50.0        0.0             3
9          24.0    21925.0             4
10         34.0      224.0             2
11          5.0        0.0             1
12         23.0        0.0             4
13         36.0        0.0             1
14          6.0        0.0             0
15          8.0        0.0             3
16          0.0     1261.0             0
17         36.0        0.0             1
18         55.0        0.0             0
19         37.0        0.0             2
20         59.0      184.0             1
21         66.0    21916.0             1
22         69.0     7694.0             1
23         61.0        0.0             0
24         69.0     2095.0             4
25         75.0     3476.0            14
26         68.0        0.0             0
27          0.0        0.0             0
28         36.0        0.0             0
29         69.0      705.0             2
...         ...        ...           ...
40295   20188.0      145.0             2
40296   19879.0        0.0            12
40297   20112.0     1698.0             2
40298    2392.0        0.0             0
40299   20081.0       80.0             1
40300   10598.0       79.0             3
40301   18218.0       71.0             0
40302   20193.0      142.0             3
40303       0.0     3211.0             4
40304    4856.0        0.0             2
40305    1050.0        0.0             0
40306    6657.0      120.0             5
40307   11060.0        0.0             5
40308    7972.0        0.0             1
40309    7071.0        0.0             1
40310    8440.0        0.0             0
40311   19737.0        0.0             0
40312   12603.0       55.0             0
40313    5509.0     1167.0             0
40314     656.0        0.0             0
40315   20199.0      484.0             1
40316    8013.0        0.0             0
40317   15949.0      410.0             3
40318    3382.0        0.0             1
40319   11852.0        0.0             5
40320   10669.0       81.0             0
40321    1270.0        0.0             0
40322   16383.0      115.0             0
40323    2407.0       50.0             1
40324    2407.0        0.0             3

[40325 rows x 10 columns]

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [55]:
merged_df = merged_df.fillna(0)
#As you could remove more tha n65% of the database, its much better to fix them

       userId_x  Reputation  Views  UpVotes  DownVotes  postId  Score  \
0            -1           1      0     5007       1920       1     23
1             2         101     25        3          0       2     22
2             3         101     22       19          0       3     54
3             4         101     11        0          0       4     13
4             5        6792   1145      662          5       5     81
5             6         457    114       47          0       6    152
6             7         429     56       20          0       7     76
7             8        6764   1089      604         25       8      0
8            10         121     20        2          0       9     13
9            11         136     10       10          0      10     23
10           12         101     10        5          0      11      2
11           13         817    178       44          1      12     20
12           15          11      8        0          0      13     14
13           16         101      4        7          0      14      5
14           17         345     14       13          1      15     13
15           18         128      8       16          0      16     16
16           19         101     13        2          0      17      9
17           21         101      6        0          0      18     31
18           22         591     90      693          6      19     12
19           23         308     52       34          1      20      3
20           24         344     48       36          1      21      4
21           25        4968    641      328         23      22    102
22           26        3150    257      138          7      23     10
23           27         101     10        2          0      24     17
24           29        2250    318       28          1      25      7
25           30        2185    312       40          3      26     18
26           33         221     11        2          0      27      4
27           34         185     27       23          0      28      6
28           35         101      4        9          0      29      5
29           36        1570    173       26          1      30      7
...         ...         ...    ...      ...        ...     ...    ...
40295     55718           6      0        0          0   48694      0
40296     55719           1      1        0          0   48695      4
40297     55720           1      0        0          0   48696      1
40298     55721         101      0        1          0   48697      1
40299     55722           1      0        0          0   48698      4
40300     55723           1      0        0          0   48700      3
40301     55724          16      1        0          0   48701      1
40302     55725           1      0        0          0   48702      1
40303     55726           1      0        0          0   48703      8
40304     55727           1      0        0          0   48704      1
40305     55728           1      0        0          0   48705      4
40306     55729          16      1        0          0   48706      2
40307     55730           1      0        0          0   48708      3
40308     55731           1      0        0          0   48709      1
40309     55732         101      0        0          0   48710      0
40310     55733           6      1        0          0   48711      6
40311     55734           1      0        0          0   48712      1
40312     55735           1      0        0          0   48713      1
40313     55736           1      0        0          0   48714      8
40314     55737           1      0        0          0   48715      2
40315     55738          11      0        0          0   48718      5
40316     55739           1      0        0          0   48719      9
40317     55740           1      0        0          0   48720      6
40318     55741         101      0        1          0   48722      3
40319     55742           6      0        0          0   48723      8
40320     55743           1      0        0          0   48724      1
40321     55744           6      1        0          0   48725      6
40322     55745         101      0        0          0   48726      2
40323     55746         106      1        0          0   48727      0
40324     55747           1      0        0          0   48728      1

       userId_y  ViewCount  CommentCount
0           8.0     1278.0             1
1          24.0     8198.0             1
2          18.0     3613.0             4
3          23.0     5224.0             2
4          23.0        0.0             3
5           5.0    29229.0             5
6          38.0     5808.0             3
7          37.0      288.0             2
8          50.0        0.0             3
9          24.0    21925.0             4
10         34.0      224.0             2
11          5.0        0.0             1
12         23.0        0.0             4
13         36.0        0.0             1
14          6.0        0.0             0
15          8.0        0.0             3
16          0.0     1261.0             0
17         36.0        0.0             1
18         55.0        0.0             0
19         37.0        0.0             2
20         59.0      184.0             1
21         66.0    21916.0             1
22         69.0     7694.0             1
23         61.0        0.0             0
24         69.0     2095.0             4
25         75.0     3476.0            14
26         68.0        0.0             0
27          0.0        0.0             0
28         36.0        0.0             0
29         69.0      705.0             2
...         ...        ...           ...
40295   20188.0      145.0             2
40296   19879.0        0.0            12
40297   20112.0     1698.0             2
40298    2392.0        0.0             0
40299   20081.0       80.0             1
40300   10598.0       79.0             3
40301   18218.0       71.0             0
40302   20193.0      142.0             3
40303       0.0     3211.0             4
40304    4856.0        0.0             2
40305    1050.0        0.0             0
40306    6657.0      120.0             5
40307   11060.0        0.0             5
40308    7972.0        0.0             1
40309    7071.0        0.0             1
40310    8440.0        0.0             0
40311   19737.0        0.0             0
40312   12603.0       55.0             0
40313    5509.0     1167.0             0
40314     656.0        0.0             0
40315   20199.0      484.0             1
40316    8013.0        0.0             0
40317   15949.0      410.0             3
40318    3382.0        0.0             1
40319   11852.0        0.0             5
40320   10669.0       81.0             0
40321    1270.0        0.0             0
40322   16383.0      115.0             0
40323    2407.0       50.0             1
40324    2407.0        0.0             3

[40325 rows x 10 columns]

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [57]:
merged_df = merged_df.astype({"postId":'int64'}) 
#As they are not supposed to have any floating number they can be changed to int